<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/game.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link active" href="{{ url_for('game') }}">Game<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ url_for('statistic') }}">Statistic</a>
          </div>
        </div>
    </nav>

    <h1>4-Gewinnt</h1>
    <h2 id="whosturn">Spieler 1's Zug</h2>

    <div class="container">
        <div class="row mt-3">
            <div class="col text-center">
                <button id="startGame" class="btn btn-primary">Start Game</button>
                <button id="resetGame" class="btn btn-danger">Reset Game</button>
            </div>
        </div>
    </div>

    <div class="game-body mt-5">
        <div class="board" id="board">
            <!-- Das Board wird dynamisch von JavaScript erstellt -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='JS/game.js') }}"></script>
</body>
</html>
